$color1: rgb(10,10,10);
$gradiente1:linear-gradient(0deg, rgba(10,10,10,0.9738270308123249) 0%, rgba(34,34,34,1) 42%, rgba(18,18,18,1) 52%, rgba(30,30,30,1) 64%, rgba(57,57,57,1) 100%, rgba(255,255,255,1) 100%);
$gradiente2:linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);
$color2:#2C528B
